
//Blip colors
$colorPlayerColor: rgb(100, 100, 185);
$colorBlipRed: rgb(223, 79, 79);
$colorBlipPurple: rgb(156, 91, 194);
$colorBlipOrange: rgb(223, 152, 47);
$colorBlipGreen: rgb(55, 110, 57);
$colorBlipCyan: rgb(87, 230, 230);
$colorBlipBlack: black;
$colorBlipGrey: grey;
$colorBlipPink: pink;
$colorBlipBrown: rgb(141, 95, 57);
$colorBlipYellow: rgb(255, 234, 43);

$colorPlantGreen: rgb(131, 212, 129);

//buttons
$colorButtonBuy: rgb(124, 196, 255);
$colorButtonDump: rgb(255, 124, 124);