.blip {
    position: absolute;
    border-radius: 100%;

    &.player {
        background-color: $colorPlayerColor;
    }

    &.red {
        background-color: $colorBlipRed;
    }

    &.purple {
        background-color: $colorBlipPurple;
    }

    &.orange {
        background-color: $colorBlipOrange;
    }

    &.green {
        background-color: $colorBlipGreen;
    }

    &.cyan {
        background-color: $colorBlipCyan;
    }

    &.black {
        background-color: $colorBlipBlack;
    }

    &.grey {
        background-color: $colorBlipGrey;
    }

    &.pink {
        background-color: $colorBlipPink;
    }

    &.brown {
        background-color: $colorBlipBrown;
    }

    &.yellow {
        background-color: $colorBlipYellow;
    }
}

.plant {
    position: absolute;
    border-radius: 100%;
    background-color: $colorPlantGreen;
}
