#page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 15%;
    overflow: hidden;
}
#world {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.panel {
    display: block;
    width: 100%;
    height: 100%;
}
#adaptations {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.adaptation {
    padding: 5px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
        padding-bottom: 0.5rem;
    }

    p.title {
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
    }

    button{
        display: block;
        background-color: $colorButtonBuy;
        color: white;
        font-weight:bold;
        cursor: pointer;
        padding: 5px;
    }

    button.dump{
        background-color: $colorButtonDump;
        color: white;
        font-weight:bold;
    }
}

#pause {
    position: fixed;
}
#points {
    position: fixed;
    right: 15%;
    color: rgb(100, 100, 185);
    font-weight: bold;
    padding: 10px;
    font-size: 2rem;
}
#message-container {
    position: fixed;
    z-index: 1000;
    width: 85%;
    top: 20%;
    display: flex;
    justify-content: center;
    transition: 1s ease opacity;
    opacity: 0;
}
#message {
    text-align: center;
    width: 80%;
    font-weight: bold;
    font-size: 2rem;

    &.playerInfo {
        color: $colorPlayerColor;
        font-size: 1.2rem;
    }
    &.red {
        color: $colorBlipRed;
        font-size: 1.2rem;
    }
    &.purple {
        color: $colorBlipPurple;
        font-size: 1.2rem;
    }
    &.orange {
        color: $colorBlipOrange;
        font-size: 1.2rem;
    }
    &.green {
        color: $colorBlipGreen;
        font-size: 1.2rem;
    }
    &.cyan {
        color: $colorBlipCyan;
        font-size: 1.2rem;
    }
    &.black {
        color: $colorBlipBlack;
        font-size: 1.2rem;
    }
    &.grey {
        color: $colorBlipGrey;
        font-size: 1.2rem;
    }
    &.pink {
        color: $colorBlipPink;
        font-size: 1.2rem;
    }
    &.brown {
        color: $colorBlipBrown;
        font-size: 1.2rem;
    }
}